.uibutton {
    background-color: rgb(195, 197, 197);
    color: #000;
    border: none;
    outline: none;
    padding: 0.7em 1.5em;
    margin: 0.5em;
    border-radius: 0.6em;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    font-weight: bold;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uibutton:active {
    background-color: rgb(183, 187, 187);
    box-shadow: rgba(0,0,0,0.5) 0px 2px 4px;
    color:rgb(236, 234, 234);
}

.uibutton:hover {
    opacity: 1;
}

.uibutton--primary {
    background-color: rgb(243, 70, 40);
    color: #fff;
}

.uibutton--primary:active {
    background-color: rgb(239, 87, 60);
    color: #000;
}

.uibutton--secondary {
    background-color: #facc2e;
    color: #000;
    font-weight: bold;
}

.uibutton--secondary:active {
    background-color: #f6dc87;
    color: #fff;
}

.uibutton:disabled {
    background-color: #ccc;
    color: #999;
    box-shadow: none;
}

.uibutton--floating {
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 3.5rem;
    margin-right: -0.8em;
    right: 50%;
    border-radius: 50%;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;   
}

.uibutton--floating:hover {
    background-color: rgb(76, 75, 75);
    color: #fff;
}

.uibutton--floating:active {
    background-color: rgb(125, 122, 122); 
}

.uibutton__container {
    position: relative;   
}

.uibutton__appcontainer > div {
    transform: translateZ();
}

