@import url('https://fonts.googleapis.com/css2? family= Averia+Serif+Libre & family= Nunito:wght@400;600 & display=swap');

.app{
    font-family: 'Averia Serif Libre', cursive;
    min-width: 38rem;
    margin: 0 auto;
}