.item {
    display: flex;
    border-bottom: 2px dotted #c9c1c1;
    color: #666;
    background-color: #FAFAFA;
}

.item_data {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem;
}

.item_steps, .item_timespan {
    text-align: right;
}

.item_name, .item_steps {
    font-weight: bold;
    color: #000;
    font-size: larger;
    padding: 0.25rem;
}
