@import '../../assets/styles/_config.scss'; 

.item {
    display: flex;
    border-bottom: 2px dotted $item-border;
    color: $item-text;
    background-color: $item-background;

}

.item:hover {
    display: flex;
    background-color: #e8e8e8;
}

.item_data {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: $item-padding;
}

.item_steps, .item_timespan {
    text-align: right;
}

.item_name, .item_steps {
    font-weight: bold;
    color: $item-text-strong;
    padding: 0.25rem;
}

.item_edit {
    max-width: $item-edit-width;
    min-width: $item-edit-width;
    background-color:rgb(195, 197, 197);
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
}

.item:hover .item_edit {
    display: flex;
}
