@import '../../assets/styles/_config.scss';

.settings {
    padding: 1.5rem;
}

.settings h3 {
    margin-top: 0.5rem;
}

.settings_profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 30rem;
}

.settings_user {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.settings_user img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.settings_types {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.settings_types > div {
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.settings_types > div:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}

.typeform {
    display: flex;
    margin-top: 3rem;
    margin-right: 10rem;
    
}

.typeform input {
    flex: 1 1 auto;
    padding: $form-input-padding;
    border: 1px solid $form-input-border;
    border-radius: $form-input-radius;
    font-size: 1em;
    outline: none;
}