$header-background: #facc2e;
$header-text: #fff;
$header-height: 4rem;
$header-fontsize: 1.6rem;

$scollbar-track: #FAFAFA;
$scrollbar-thumb: #c9c1c1;
$scrollbar-width: 0.6rem;

$item-border: #c9c1c1;
$item-text: #666;
$item-text-strong: #424242;
$item-padding: 0.75rem;
$item-background: #FAFAFA;
$item-edit-background: #b2b2b1;
$item-edit-text: #eee;
$item-edit-width: 2rem;

$menu-background: #A4A4A4;
$menu-text: #fff;
$menu-height: $header-height;

