$container-padding: 2rem;

$header-background: #facc2e;
$header-text: #fff;
$header-height: 4rem;
$header-fontsize: 1.8rem;

$scollbar-track: #FAFAFA;
$scrollbar-thumb: #c9c1c1;
$scrollbar-width: 0.5rem;

$item-border: #c9c1c1;
$item-text: #666;
$item-text-strong: #424242;
$item-padding: 0.75rem;
$item-background: #FAFAFA;
$item-edit-background: #b2b2b1;
$item-edit-text: #eee;
$item-edit-width: 2rem;

$menu-background: #A4A4A4;
$menu-text: #fff;
$menu-height: $header-height;

$form-item-margin: 0.5rem 0.3rem;
$form-input-border: #999;
$form-input-radius: 0.3rem;
$form-input-padding: 0.7rem;
$form-input-fontsize: 1.1rem;
$form-label-fontsize: 0.9rem;
$form-label-margin-bottom: 0.4rem;